<?xml version="1.0"?>
<configuration 
        xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
		<connectionStrings>
		<add 
    name="celoConnection" 
    connectionString="Server=192.227.241.131;Database=xneffari_celo2014;Uid=xneffari_nafb325;Pwd=3$QG1Pp2EW,swXUxc5;" />
    </connectionStrings>
    <appSettings/>
    <system.web>
    </system.web>
</configuration>